@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

body {
  background: 
  repeating-conic-gradient(
    #FADBFF 0deg 25%, 
    white 0deg 50%);
background-size: 120px 120px;
}

h1, h2 {
  font-family: "Rampart One", sans-serif;
}